.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-image: url("./img3.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
}

#contact {
    width: 100%;
    height: 100%;
}

input {
    height: 40px;
    border-style: none;
    margin: 5px;
    border-radius: 5px;
}

.contact-form {
    width: 50%;
    padding: 10px;
}

.contact-form:active {
    border-style: none;
}

.submit-button {
    border-radius: 5px;
    border-style: none;
    background-color: #000;
    color: #fff;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .contact-container {
        flex-direction: column;
        background-position: right;
    }

    div.contact-container > div.card {
        height: 70%;
    }

    #social-container {
        flex-direction: column;
        width: 100%;
    }
}