.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container img.tech-logo:hover {
    -webkit-transform: scale(1.20);
    -ms-transform: scale(1.20); /* IE 9 */
    transform:scale(1.20); /* Safari 3-8 */
    background: transparent;
}

.img-container img.tech-logo {
    transition: transform .2s;
    padding: 3px;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    div.img-container img.tech-logo {
        width: 80px;
        height: 32px;
    }
    .card {
        margin-right: 0px;
    }
    .container {
        align-items: flex-start;
        justify-content: center;
    }
}
