.App {
  position: fixed;
  width: 100%;
  height: 100%;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px){
  .App {
    background-position-x: 760px;
    background-position-y: -135px;
  }
}

@media only screen
and (min-device-width : 767px)
and (max-device-width : 1025px) {
    .App {
      background-position: right;
    }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
